extends layout
block content
  h1= title
  p Name :  #{movie.movieName}
  p Producer :  #{movie.producer}
  p Actor :  #{movie.actor}
  p Actress : #{movie.actress}
  p Budget :  #{movie.budget}
  p Type :  #{movie.type}
  br